body{
    margin: 0%;
    background-color: #dfe9ed;
  }
  /* -------------------------Section------------------------ */
  
  section{
      height: 110vh;
      overflow-x: hidden;
    }
  
    /*----------Conteúdo: barra de busca e estilizações----------*/
  
  .container-content {
      width: 20%; /* define a largura do campo de busca */ 
      position: relative;  
      left: 100px;
      position: absolute;
      top: 400px;
    }
    
    label.busca {
        display:block;
        font-size: 40px;
        top: 0%;
        color: #ca6228;
        font-family: 'Grand Hotel', cursive; 
        left: 100px;
        position: relative;
        top: 280px;
    }
    
    .location {
    width: 100%;
    background-color: #ffff;
    padding: 10px 20px ;
    border: 2px solid #4F62B4;
    border-radius: 15px;
    color: #4F62B4;
    }
    
    .location::placeholder{
    top: 0;  
    color: #4F62B4;
    font-weight: bold;
    } 
    
    .location,  #search {padding: 10px;}
    
    #search {
      position: absolute;   
      top: 400; 
      left: 340px;
      background: none; 
      border: none;
      }
    
    /*background*/
    
    .container-bg { 
    position: relative;  
    left: 500px;
    top: 15px;
    }
  
  
    /* -------------------------Header------------------------- */
    
    #header {
      position: fixed;
      top: 0;
      overflow: hidden;
      background-color: #dfe9ed;
      padding: 20px 10px;
      width: 100%;
      z-index: 10;
    
    }
    
    nav a {
      
      float: right;
      color: #ca6228;
      text-align: center;
      padding: 20px;
      text-decoration: none;
      font-family: 'Grand Hotel', cursive;
      font-size: 25px;
      line-height: 25px;
      border-radius: 4px;
      
    }
    
    #header nav{
      width: fit-content;
      margin: 0 auto; 
    
    }
    
    .header_div{
      position: relative;
    }
    
    #header a:hover {
      background-color: rgba(11, 248, 3, 0);
      color: #6aa52d;
    }
    
    #header a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    #header-left {
      float: left;
    }
    
    #header_logo{
      position: absolute;
      top: -18px;
      width: 100px;
      height: 100px;
      left: 100px;
    }
    
    
    /* -------------------------Footer------------------------- */
    
    #footer{
      bottom: 0%;
      overflow: hidden;
      background-color: #9ab88c;
      padding: 20px 10px;
      height: 15vh;
      width: 100%
    }
    .container_footer{
      position: relative
    }
     
    #footer_logo{
      position: absolute;
      top: 0%;
      width: 100px;
      height: 100px;
      left: 100px;
    }
    
    #cart{
      position: absolute;
      right: 100px;
      top: 10px;
      width: 50px;
      height: 50px;
    
    }
    
    #newsletter{
      right: 344px;
      position: absolute;
      top: -5px;  
      color: #5C8C45;
    }
    
    
    .contato{
      position: absolute;
      left: 225px;
      top: 25px;
    }
    
    #footer a:hover {
      background-color: rgba(11, 248, 3, 0);
      color: #6aa52d;
    }
    
    .contato a{
      font-size: 25px;
      top: 0%;
      color: #ca6228;
      font-family: 'Grand Hotel', cursive;
      text-decoration: none;  
    }
    
    .button{
      right: 160px;
      position: absolute;
      top: 20px;
      background-color: #ffff;
      padding: 10px 20px ;
      border: 2px solid #ffff;
      border-radius: 15px;
      color:#5C8C45;
    }
    
    
    #emailnews{
      right: 300px;
      position: absolute;
      top: 20px;
      background-color: #ffff;
      padding: 10px 20px ;
      border: 2px solid #ffff;
      border-radius: 15px;
      color:#5C8C45;
    }
    
    #emailnews::placeholder{
      top: 0;  
      color: #5C8C45;
    }
    .facebook_icon{
      position: absolute;
      right: 463px;
      top: 68px;
      width: 50px;
      height: 50px;
    }
    
    #insta_icon{
      position: absolute;
      right: 403px;
      top: 68px;
      width: 50px;
      height: 50px;
    }
    
    #gplus_icon{
      position: absolute;
      right: 343px;
      top: 68px;
      width: 50px;
      height: 50px;
    }
    
    